<header>
    <div class="relative mx-auto my-5 max-w-[1290px]">
      <div class="flex w-full items-center justify-between">
        <figure>
          <img class="w-[185px]" src="/logo.png" alt="logo" />
        </figure>
        <nav class="text-brown">
          <ul class="flex items-center gap-6">
            <li><a href="#">Знайти улюбленця</a></li>
            <li><a href="#">Притулки</a></li>
            <li><a href="#">Pet Stories</a></li>
            <li><a href="#">Блог</a></li>
            <li><a href="#">Новини</a></li>
            <li><a href="#">Розіграші</a></li>
          </ul>
        </nav>

        <div class="relative z-20 flex items-center gap-6">
          <a href="login.html" class="text-brown">Увійти</a>
          <a
            href="signup.html"
            class="bg-[#4A2C2A] hover:bg-brown-hover rounded-full px-14 py-3 text-[#FFF9F7] transition duration-300 ease-in-out">
            Реєстрація
          </a>
        </div>
      </div>
    </div>
    <figure class="absolute right-0 top-0 h-auto w-[200px]">
      <img src="bg/trace/trace-1.png" alt="" />
    </figure>
</header>
