<app-header></app-header>
<section class="relative">
    <div
      class="relative z-10 flex min-h-[600px] flex-col items-center justify-center bg-header bg-cover bg-center bg-no-repeat" style="background-image: url('/bg/bg-pets.jpg');"
    >
      <div class="max-w-[750px] text-center text-[#FFF9F7]">
        <h1 class="leding-none text-4xl font-bold">Знайди свого найкращого друга</h1>
        <p class="mt-8 text-2xl font-normal leading-relaxed">
          Переглядай тваринок із десятків притулків по всій Україні, всиновлюй тих, хто потребує
          дому, або підтримай їх донатом — навіть маленький внесок може врятувати життя.
        </p>
      </div>
    </div>

    <div
      class="absolute bottom-[-100px] left-1/2 z-20 w-full max-w-[800px] -translate-x-1/2 rounded-3xl border-[3px] border-[#FFDDEE] bg-[#4A2C2A] px-[120px] py-12"
    >
      <ul class="flex items-center justify-between">
        <li class="flex flex-col items-center">
          <img class="w-[72px]" src="icons/cat.png" alt="" />
          <p class="text-white">Коти</p>
        </li>
        <li class="flex flex-col items-center">
          <img class="w-[72px]" src="icons/dog.png" alt="" />
          <p class="text-white">Собаки</p>
        </li>
        <li class="flex flex-col items-center">
          <img class="w-[72px]" src="icons/other.png" alt="" />
          <p class="text-white">Інше</p>
        </li>
        <li class="flex flex-col items-center">
          <img class="w-[72px]" src="icons/donate.png" alt="" />
          <p class="text-white">Задонатити</p>
        </li>
      </ul>
    </div>
    <figure class="absolute -bottom-[209px] left-0 z-0 w-[200px]">
      <img class="" src="bg/trace/trace-2.png" alt="" />
    </figure>
    <figure class="absolute -bottom-[215px] right-0 z-0 w-[200px]">
      <img class="" src="bg/trace/trace-3.png" alt="" />
    </figure>
  </section>

  <section class="mx-auto mt-[200px] max-w-[1290px]">
    <div class="flex gap-[30px]">
      <figure class="w-[50%] rounded-3xl">
        <img class="" src="about.jpg" alt="about" />
      </figure>
      <div class="flex w-[50%] flex-col gap-8">
        <h1 class="teading-none text-2xl font-bold text-brown">Хто ми і навіщо це робимо</h1>
        <span class="font-normal">
          <p class="indent-8">
            Ми створили цю платформу, щоб допомогти безпритульним тваринам знайти новий дім, а
            притулкам — отримати підтримку.
          </p>
          <p class="indent-8">
            Після початку повномасштабної війни в Україні тисячі тварин залишилися без опіки, а
            притулки не завжди мають ресурси, щоб подбати про кожного.
          </p>
          <p class="indent-8">
            Наша мета — об’єднати небайдужих людей, волонтерів і притулки в єдину мережу, де можна
            легко знайти, передати або всиновити тварину, задонатити на її утримання, залишити
            запит чи поділитися щасливою історією. Кожен може зробити свій внесок. 
          </p>
        </span>
        <figure class="w-full">
          <img class="" src="bg/trace/trace-4.png" alt="" />
        </figure>
      </div>
    </div>
  </section>

  <section class="mx-auto mt-[100px] max-w-[1290px]">
    <div class="flex items-center justify-center gap-4">
      <figure class="h-8 w-8"><img src="icons/paw.png" alt="" /></figure>
      <h1 class="text-2xl font-bold text-brown">Як це працює?</h1>
      <figure class="h-8 w-8"><img src="icons/paw.png" alt="" /></figure>
    </div>
    <div class="relative mt-20 w-full">
      <div class="flex w-full justify-start">
        <div
          class="max-w-[520px] -rotate-[8deg] rounded-3xl border-[3px] border-[#4A2C2A] bg-[#FADCDA] px-[80px] py-[50px] text-[#4A2C2A]"
        >
          <h1 class="mb-1 text-xl font-bold">Якщо ви притулок:</h1>
          <p class="mb-2 font-normal">
            Додавайте тварин, керуйте оголошеннями, приймайте запити та отримуйте підтримку — від
            донатів до відгуків. Наша платформа створена, щоб допомагати знаходити нові домівки
            для ваших підопічних.
          </p>
          <a
            class="decoration-1.5 font-bold underline decoration-brown underline-offset-4"
            href="#"
            >Детальніше</a
          >
        </div>
      </div>

      <div class="absolute left-[20px] top-[100px] flex w-full justify-center">
        <figure class="w-[250px]">
          <img src="bg/trace/trace-5.png" alt="" />
        </figure>
      </div>

      <div class="flex w-full justify-end">
        <div
          class="max-w-[520px] rotate-[16deg] rounded-3xl border-[3px] border-[#4A2C2A] bg-[#FADCDA] px-[80px] py-[50px] text-[#4A2C2A]"
        >
          <h1 class="mb-1 text-xl font-bold">Якщо ви знайшли тваринку:</h1>
          <p class="mb-2 font-eukraine font-normal">
            Створіть запит на передачу тварини до притулку або самостійно додайте її на платформу,
            щоб знайти для неї господаря. Оберіть найближчий заклад, додайте фото та опис — дайте
            їй шанс знайти новий дім.
          </p>
          <a
            class="decoration-1.5 font-bold underline decoration-brown underline-offset-4"
            href="#"
            >Детальніше</a
          >
        </div>
      </div>

      <div class="absolute bottom-[150px] left-[80px] flex w-full justify-center">
        <figure class="w-[250px] scale-x-[-1]">
          <img src="bg/trace/trace-5.png" alt="" />
        </figure>
      </div>

      <div class="ml-[100px] flex w-full justify-start">
        <div
          class="flex w-full max-w-[520px] -rotate-[12deg] flex-col justify-start rounded-3xl border-[3px] border-[#4A2C2A] bg-[#FADCDA] px-[80px] py-[50px] text-[#4A2C2A]"
        >
          <h1 class="mb-1 text-xl font-bold">Якщо ви хочете подбати про тваринку:</h1>
          <p class="mb-2 font-normal">
            Знаходьте улюбленців поруч, фільтруйте за потребами, переглядайте деталі, зберігайте
            оголошення, зв’язуйтеся з притулками та підтримуйте тварин донатами або всиновленням.
          </p>
          <a
            class="decoration-1.5 font-bold underline decoration-brown underline-offset-4"
            href="#"
            >Детальніше</a
          >
        </div>
      </div>
    </div>
  </section>
<app-footer></app-footer>

