<section class="relative">
  <div
    class="relative z-10 flex min-h-[600px] flex-col items-center justify-center bg-header bg-cover bg-center bg-no-repeat" style="background-image: url('bg/bg-pets.jpg');"
  >
    <div class="max-w-[750px] px-5 text-left text-[#FFF9F7] md:text-center lg:px-0">
      <h1 class="leding-none text-2xl font-bold lg:text-4xl">Знайди свого найкращого друга</h1>
      <p class="mt-8 text-lg font-normal leading-relaxed lg:text-2xl">
        Переглядай тваринок із десятків притулків по всій Україні, всиновлюй тих, хто потребує
        дому, або підтримай їх донатом — навіть маленький внесок може врятувати життя.
      </p>
    </div>
  </div>

  <div
    class="relative bottom-[100px] left-1/2 z-20 w-[98%] max-w-[300px] -translate-x-1/2 rounded-3xl border-[3px] border-[#FADADD] bg-[#4A2C2A] px-0 py-12 md:absolute md:bottom-[-100px] md:max-w-[800px] lg:px-[120px]"
  >
    <ul
      class="flex flex-col items-center justify-evenly gap-10 md:flex-row md:gap-0 lg:justify-between"
    >
      <li class="hidden flex-col items-center md:flex">
        <img class="w-[72px]" src="icons/cat.png" alt="" />
        <p class="text-white">Коти</p>
      </li>
      <li class="hidden flex-col items-center md:flex">
        <img class="w-[72px]" src="icons/dog.png" alt="" />
        <p class="text-white">Собаки</p>
      </li>
      <li class="hidden flex-col items-center md:flex">
        <img class="w-[72px]" src="icons/other.png" alt="" />
        <p class="text-white">Інше</p>
      </li>
      <li class="flex flex-col items-center">
        <img class="w-[72px]" src="icons/donate.png" alt="" />
        <p class="text-white">Задонатити</p>
      </li>
    </ul>
  </div>
  <figure class="absolute bottom-0 left-0 z-0 w-[200px] md:-bottom-[209px]">
    <img class="" src="bg/trace/trace-2.png" alt="" />
  </figure>
  <figure class="absolute bottom-0 right-0 z-0 w-[200px] md:-bottom-[215px]">
    <img class="" src="bg/trace/trace-3.png" alt="" />
  </figure>
</section>

<section class="mx-auto mt-0 max-w-[1290px] md:mt-[200px]">
  <div class="mx-4 flex flex-col items-center gap-[30px] lg:flex-row lg:items-start">
    <figure class="hidden w-[80%] justify-center rounded-3xl sm:flex lg:w-[50%]">
      <img class="" src="about.jpg" alt="about" />
    </figure>
    <div class="flex w-[80%] flex-col gap-8 lg:w-[50%]">
      <h1 class="teading-none text-2xl font-bold text-[#4A2C2A]">Хто ми і навіщо це робимо</h1>
      <span class="font-normal">
        <p class="indent-8">
          Ми створили цю платформу, щоб допомогти безпритульним тваринам знайти новий дім, а
          притулкам — отримати підтримку.
        </p>
        <p class="indent-8">
          Після початку повномасштабної війни в Україні тисячі тварин залишилися без опіки, а
          притулки не завжди мають ресурси, щоб подбати про кожного.
        </p>
        <p class="indent-8">
          Наша мета — об'єднати небайдужих людей, волонтерів і притулки в єдину мережу, де можна
          легко знайти, передати або всиновити тварину, задонатити на її утримання, залишити
          запит чи поділитися щасливою історією. Кожен може зробити свій внесок. 
        </p>
      </span>
      <figure class="w-full">
        <img class="" src="bg/trace/trace-4.png" alt="" />
      </figure>
    </div>
  </div>
</section>

<section class="mx-auto mt-[100px] max-w-[1290px]">
  <div class="flex w-full items-center justify-center gap-4">
    <figure class="h-8 w-8"><img src="icons/paw.png" alt="" /></figure>
    <h1 class="text-2xl font-bold text-[#4A2C2A]">Як це працює?</h1>
    <figure class="h-8 w-8"><img src="icons/paw.png" alt="" /></figure>
  </div>
  <div class="relative mx-[10px] mt-20 flex flex-col gap-4 xl:block">
    <div class="flex w-full justify-center md:justify-start">
      <div
        class="relative z-10 max-w-[520px] rotate-0 rounded-3xl border-[3px] border-[#4A2C2A] bg-[#F6EBEA] px-6 py-6 text-[#4A2C2A] md:px-[80px] md:py-[50px] 2xl:-rotate-[8deg]"
      >
        <h1 class="mb-1 text-xl font-bold">Якщо ви притулок:</h1>
        <p class="mb-2 font-normal">
          Додавайте тварин, керуйте оголошеннями, приймайте запити та отримуйте підтримку — від
          донатів до відгуків. Наша платформа створена, щоб допомагати знаходити нові домівки
          для ваших підопічних.
        </p>
        <a
          class="decoration-1.5 font-bold underline decoration-[#4A2C2A] underline-offset-4"
          href="#"
          >Детальніше</a
        >
      </div>
    </div>

    <div class="absolute left-[60px] top-[100px] z-0 hidden w-[90%] justify-center xl:flex">
      <figure class="w-[250px]">
        <img src="bg/trace/trace-5.png" alt="" />
      </figure>
    </div>

    <div class="flex w-full justify-center md:justify-end">
      <div
        class="relative z-10 max-w-[520px] rotate-0 rounded-3xl border-[3px] border-[#4A2C2A] bg-[#F6EBEA] px-6 py-6 text-[#4A2C2A] md:px-[80px] md:py-[50px] 2xl:rotate-[16deg]"
      >
        <h1 class="mb-1 text-xl font-bold">Якщо ви знайшли тваринку:</h1>
        <p class="mb-2 font-eukraine font-normal">
          Створіть запит на передачу тварини до притулку або самостійно додайте її на платформу,
          щоб знайти для неї господаря. Оберіть найближчий заклад, додайте фото та опис — дайте
          їй шанс знайти новий дім.
        </p>
        <a
          class="decoration-1.5 font-bold underline decoration-[#4A2C2A] underline-offset-4"
          href="#"
          >Детальніше</a
        >
      </div>
    </div>

    <div class="absolute bottom-[150px] left-[80px] z-0 hidden w-[90%] justify-center xl:flex">
      <figure class="w-[250px] scale-x-[-1]">
        <img src="bg/trace/trace-5.png" alt="" />
      </figure>
    </div>

    <div class="relative z-10 flex w-full justify-center md:justify-start">
      <div
        class="flex w-full max-w-[520px] rotate-0 flex-col justify-start rounded-3xl border-[3px] border-[#4A2C2A] bg-[#F6EBEA] px-6 py-6 text-[#4A2C2A] md:px-[80px] md:py-[50px] 2xl:-rotate-[12deg]"
      >
        <h1 class="mb-1 text-xl font-bold">Якщо ви хочете подбати про тваринку:</h1>
        <p class="mb-2 font-normal">
          Знаходьте улюбленців поруч, фільтруйте за потребами, переглядайте деталі, зберігайте
          оголошення, зв'язуйтеся з притулками та підтримуйте тварин донатами або всиновленням.
        </p>
        <a
          class="decoration-1.5 font-bold underline decoration-[#4A2C2A] underline-offset-4"
          href="#"
          >Детальніше</a
        >
      </div>
    </div>
  </div>
</section>