<h4>Внутрішня помилка сервера — оновлення сторінки має усунути помилку</h4>
<ng-container *ngIf="error">
  <h5 class="text-danger">Помилка: {{error.message}}</h5>
  <p class="font-weight-bold">Примітка: Якщо ви бачите це повідомлення, ймовірно, Angular тут ні до чого</p>
  <p>Що робити далі?</p>
  <ol>
    <li>Відкрийте інструменти розробника Chrome! Потім перевірте запит, який не спрацював, у вкладці "Network"</li>
    <li>Проаналізуйте URL запиту — до якого API ви звертаєтесь?</li>
    <li>Відтворіть проблему в Postman — якщо отримаємо ту саму помилку, Angular точно не винен</li>
  </ol>
  <p style="font-weight:bold;">Нижче — трасування стека. Перші кілька рядків підкажуть, в якому рядку коду сталася помилка</p>
  <code class="mt-5" style="background-color:whitesmoke;">
    {{error.details}}
  </code>
</ng-container>
