<div class="register-container">
  <h2>Register</h2>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

    <app-text-input
      [formControl]="$any(registerForm.controls['name'])"
      [label]="'Ім\'я'"
    ></app-text-input>

    <app-text-input
      [formControl]="$any(registerForm.controls['email'])"
      [label]="'email'"
    ></app-text-input>

    <app-text-input
      [formControl]="$any(registerForm.controls['password'])"
      [label]="'Пароль'"
    ></app-text-input>

    <div class="form-group">
      <label for="role">Role</label>
      <select id="role" formControlName="role" class="form-control" (change)="onRoleChange()">
        <option value="">Select a role</option>
        <option *ngFor="let role of roles" [value]="role">{{role}}</option>
      </select>
      <div *ngIf="registerForm.get('role')?.invalid && registerForm.get('role')?.touched" class="error-message">
        Role is required
      </div>
    </div>

    <!-- Додаткові поля для Shelter -->
    <div *ngIf="registerForm.get('role')?.value === 'Shelter'">
      <div class="form-group">
        <label for="category">Категорія закладу</label>
        <select id="category" formControlName="category" class="form-control">
          <option value="">Оберіть категорію</option>
          <option *ngFor="let category of shelterCategories" [value]="category">{{category}}</option>
        </select>
        <div *ngIf="registerForm.get('category')?.invalid && registerForm.get('category')?.touched" class="error-message">
          Категорія обов'язкова для притулків
        </div>
      </div>

      <app-text-input
        [formControl]="$any(registerForm.controls['address'])"
        [label]="'Адреса'"
      ></app-text-input>

      <app-text-input
        [formControl]="$any(registerForm.controls['phoneNumber'])"
        [label]="'Номер телефону'"
      ></app-text-input>
    </div>

    <div *ngIf="errorMessages.length > 0" class="alert alert-danger">
      <ul>
        <li *ngFor="let error of errorMessages">{{error}}</li>
      </ul>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid">Register</button>
  </form>
</div>
