<app-header></app-header>
<nav class="main-nav">
  <ul class="flex flex-row space-x-6 absolute hidden">
    <!-- Посилання для притулків -->
    <li><a routerLink="/add-animal" routerLinkActive="active">Додати тварину</a></li>
    <li><a routerLink="/animals" routerLinkActive="active">Усі тварини</a></li>

    <!-- Посилання для волонтерів -->
    <li><a routerLink="/profile" routerLinkActive="active">Профіль</a></li>
    <li><a routerLink="/shelters" routerLinkActive="active">Усі притулки</a></li>


    <li><a routerLink="/login" routerLinkActive="active">Логін</a></li>
    <li><a routerLink="/register" routerLinkActive="active">Реєстрація</a></li>
  </ul>
</nav>
<br>
<br>
<br>


<router-outlet></router-outlet>

<app-footer></app-footer>
