<footer class="relative z-10 mx-auto mt-[100px] w-full rounded-t-3xl bg-[#4A2C2A] px-[73px] py-16">
    <div class="flex items-start justify-between text-white">
      <div>
        <figure>
          <img class="w-[190px]" src="/logo-white.png" alt="" />
        </figure>
        <div class="mt-8 font-normal leading-relaxed text-white">
          <p>Знайди свого</p>
          <p>найкращого друга</p>
        </div>
      </div>

      <div>
        <h1 class="font-bold leading-relaxed">Навігація</h1>
        <ul class="mt-8">
          <li><a href="">Знайти улюбленця</a></li>
          <li><a href="">Притулки</a></li>
          <li><a href="">Pet Stories</a></li>
          <li><a href="">Блог</a></li>
          <li><a href="">Новини</a></li>
          <li><a href="">Розіграші</a></li>
        </ul>
      </div>

      <div>
        <h1 class="font-bold leading-relaxed">Інструменти</h1>
        <ul class="mt-8">
          <li><a href="">FAQ</a></li>
          <li><a href="">Волонтерство</a></li>
          <li><a href="">Запит на улюбленця</a></li>
          <li><a href="">Мій кабінет</a></li>
          <li><a href="">Статистика оголошень</a></li>
        </ul>
      </div>

      <div>
        <h1 class="font-bold leading-relaxed">Дізнавайтесь усі новини першими</h1>
        <form action="" class="mt-8 flex gap-8">
          <input
            class="w-[300px] rounded-3xl border-[3px] border-brown-light bg-[#FFDDEE] bg-opacity-[25%] px-5 py-2 text-white placeholder:text-white focus:outline-none"
            type="text"
            placeholder="Введіть Ваш email"
          />
          <button
            class="rounded-3xl border-[3px] border-brown-light bg-[#4A2C2A] px-[40px] py-2 transition duration-300 ease-in-out hover:bg-[#FFDDEE] hover:bg-opacity-[25%]"
          >
            Підписатись
          </button>
        </form>
      </div>
    </div>
  </footer>
